/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

$theme-cyan: #248CFC;
$secondary: #F3DFA2;
$theme-darkred: #501010;
$theme-ligthblue: #f8f8ff;
$theme-blue: #223068;
$theme-black: black;
$theme-navbar: #517699;

/* Colors */
$body-bg: $theme-ligthblue;
$body-color: $theme-blue;
$link-color: $theme-cyan;
$navbar-bg: $theme-navbar;
// Background color of inline code
$code-bg: $secondary;
// Background color of chunk code
$code-block-bg: $secondary;

/* Fonts */
$font-family-sans-serif: "Exo", sans-serif;
$font-size-root: 17px;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  color: $theme-blue;
}

.navbar * {
  color: $theme-ligthblue;
}

span.navbar-title {
  color: $theme-ligthblue;
  transition-duration: 0.5s;
  &:hover {
    color: darken($theme-ligthblue, 60%);
    transition-duration: 0.5s;
  }
}

a:hover {
  color: $theme-darkred;
}