/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

$theme-white: #ffffff;
$theme-blue: darkblue;
$theme-black: black;
$theme-navbar: #517699;

/* Colors */
$body-bg: $theme-white;
$body-color: $theme-blue;
$link-color: $theme-black;
$navbar-bg: $theme-navbar;

/* Fonts */
$font-family-sans-serif: "Source Sans Pro", Roboto, Arial, sans-serif;
$font-size-root: 17px;

/*-- scss:rules --*/

h1 h2 h3 h4 h5 h6 {
  color: red;
}
