name: rne
run-name: Setting up the rne database
on:
  workflow_dispatch

jobs:

  test-output:
    runs-on: ubuntu-latest
    steps:
    - name: Test Output
      run: echo "Here is a test"
      
  connect-remote:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Show databases
      run: |
        PGPASSWORD=$DB_PASSWORD psql -h $DB_HOSTNAME -d $DB_NAME -p $DB_PORT -U $DB_USER -c "select count(*) from public.spatial_ref_sys;" 
      env: 
        DB_HOSTNAME: ${{ secrets.DB_HOSTNAME }}
        DB_USER: ${{ secrets.DB_USER }}
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        DB_PORT: ${{ secrets.DB_PORT }}
        DB_NAME: ${{ secrets.DB_NAME }}     